@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
    @apply bg-[#09090B] text-white;
}

* {
    box-sizing: border-box;
}